.timer {
	width: 340px;
	height: 185px;
	border-radius: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(234, 93, 57);

	.content {
		position: absolute;
		width: 370px;
		height: 176px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgb(49, 48, 53);
		border-radius: 28px;
		padding: 24px;
		z-index: 1;

		h3 {
			color: rgb(255, 255, 255);
			font-size: 20px;
			font-weight: 800;
			line-height: 24px;
			text-align: center;
		}

		.time {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 64px;
			margin-top: 22px;

			.flipContainer {
				perspective: 1000px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50px;
			}

			.flipCard {
				position: absolute;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-size: 40px;
				font-weight: 800;
				color: rgb(255, 255, 255);
				background: rgb(61, 60, 65);
				border-radius: 16px;
				transition: transform 0.6s ease;
				backface-visibility: hidden;

				&.flip {
					animation: flip 0.6s forwards;
				}
			}

			.prevCard {
				transform: translateY(100%); // Скрыть предыдущую цифру
				animation: slideOut 0.6s forwards; // Анимация выхода
			}
		}
	}
}

@keyframes flip {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slideOut {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}


@media (max-width: 769px) {
	.timer{
		width: 270px;
    height: 160px;

		.content{
			width: 290px;
      height: 152px;
		}
	}
}