.btn {
	display: block;
	border: none;
	padding: 28px 32px;
	border-radius: 16px;
	background: rgb(234, 93, 57);

	color: rgb(255, 255, 255);
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0%;

	cursor: pointer;
}
