.card {
	width: 100%;

	.logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 5px;

		border-bottom: 2px solid rgb(61, 60, 65);

		.slider {
			display: flex;
			flex-direction: column-reverse;
			gap: 8px;
			span {
				&:nth-child(1) {
					color: rgb(128, 130, 141);
					font-size: 11px;
					font-weight: 600;
					line-height: 13px;
					letter-spacing: 0%;
					text-align: right;
				}
			}

			.sliders {
				position: relative;
				height: 12px;
				width: 85px;
				border-radius: 12.7px;
				box-shadow: inset 0px 3.25px 3.25px 0px rgba(0, 0, 0, 0.12);
				background: rgb(61, 60, 65);

				.value {
					position: absolute;
					height: 100%;
					width: 50px;
					box-sizing: border-box;
					border-bottom: 2.6000001430511475px solid rgba(255, 255, 255, 0.22);
					border-radius: 16.25px;
					background: rgb(23, 183, 103);
				}
			}
		}
	}

	.desc {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 15px;
		span {
			color: rgb(128, 130, 141);
			font-size: 18px;
			font-weight: 400;
			line-height: 12px;
			letter-spacing: 0%;
			text-align: left;
		}

		.price {
			display: flex;
			align-items: center;
			flex-direction: column;
			b {
				color: rgb(255, 255, 255);

				font-size: 46px;
				font-weight: 800;
				line-height: 55px;
				letter-spacing: 0%;
				text-align: center;
			}

			strong {
				padding: 10px;
				border-radius: 43px;
				background: rgba(23, 183, 103, 0.08);

				color: rgb(23, 183, 103);

				font-size: 11px;
				font-weight: 800;
				line-height: 7px;
				letter-spacing: 0%;
				text-align: left;
			}
		}
	}
	button {
		width: 100%;
		margin-top: 42px;
	}
}

@media (max-width: 769px) {
	.card {
		.desc {
			span {
				font-size: 12px;
			}
			.price {
				b {
					font-size: 22px;
				}
			}
		}

		button {
			font-size: 14px;
			padding: 17px 20px;
			margin-top: 0;
		}
	}
}
