.achievements {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: rgb(34, 37, 40);

	.content {
		width: 1440px;
		flex-direction: column;
		display: flex;

		padding: 80px 20px;
	}

	h2 {
		color: rgb(255, 255, 255);
		font-size: 72px;
		font-weight: 800;
		line-height: 74px;
		letter-spacing: 0%;
		text-align: center;
	}

	.grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
		gap: 20px;
		margin-top: 72px;

		.card {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			padding: 42px;
			border-radius: 28px;
			background: rgb(49, 48, 53);

			h3 {
				color: rgb(255, 255, 255);
				font-size: 50px;
				font-weight: 900;
				line-height: 60px;
				text-align: center;
			}

			p {
				color: rgb(128, 130, 141);
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 1440px) {
	.achievements {
		.content {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.achievements {
		h2 {
			font-size: 28px;
			line-height: 30px;
		}

		.content {
			padding: 32px 20px;
		}

		.grid {
			margin-top: 22px;
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
			gap: 8px;

			.card {
				h3 {
					font-size: 22px;
					line-height: 26px;
				}
				p {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
}
